{% extends "main.html" %}

{% block title %}SmokedMirrors | Example{% endblock %}

{% block content %}
    
    <div class="container">
        <h1>Code Highlighter - Pygments</h1>
        <div class="row">
            <div class="col-md-12" style="margin-top: 50px;">
                <h3>This is example code showcasing the highlighting and debugging functionalities</h3>
                <pre><code class="python">
                    {{ highlighted_code|safe }}
                </code></pre>
            </div>
        </div>
    </div>

{% endblock %}